/* 고객문의 */

#content dt {font-size: 1.88em; font-weight: 700;}
#content dd {font-size: 1.13em; line-height: 2em;}
#content dd.call, dd.mail {text-align: end; font-weight: 100;}
#content dd.call::after, dd.mail::after { font-family: 'Material Symbols Outlined'; font-variation-settings: 'FILL' 1,'wght' 700,'GRAD' 0,'opsz' 48;
    font-size: 1.5em; color: #1f296f; position: relative; top: 5px; margin-left: 5px;}
#content dd.call::after {content: '\f7fa';}
#content dd.mail::after {content: '\e158';}

#content .customer1 { margin-bottom: 100px;}
#content .customer1 ul {width: 1000px; margin: 0 auto; overflow: hidden;}
#content .customer1 li {float: left; width: 300px; height: 400px; box-sizing: border-box; text-align: center;
    border: 1px solid #d9d9d9; margin-right: 50px; padding: 50px 20px; position: relative; overflow: hidden;}
#content .customer1 li:last-child {margin-right: 0;}
#content .customer1 dd:nth-child(3) {margin-top: 50px;}
#content .customer1 span {color: #999; font-size: 1rem; margin-right: 30px;}

#content .customer2 {margin-bottom: 50px; overflow: hidden;}
#content .customer2::before { content: ''; display: block; width: 100%; height: 140px; position: absolute; left: 0; z-index: -10; background: #f7f7f7;}
#content .customer2 dl {width: 800px; margin: 30px auto; position: relative;}
#content .customer2 dd.call {position: absolute; right: 0; top: 0;}
#content .customer2 dd.mail {position: absolute; right: 0; top: 40px;}

/* 폼 */
form {width: 800px; box-sizing: border-box; padding: 20px; margin: 0 auto 100px;}
.control-group {margin: 20px 0;}
.control-group .form-group {display: table; table-layout: fixed; width: 100%; padding: 20px; border-bottom: 1px solid #d9d9d9;}
.form-control {width: 80%; display: table-cell; border: none;}
label {display: table-cell; font-size: 1.13em; font-weight: 500; width: 20%; vertical-align: top; position: relative;}
label::before {content: '\002A'; position: absolute; top: -18px; left: -10px; color: #D82723; }
.send {text-align: center;}
.send button {border: 0 none; cursor: pointer; background: #1f296f; color: #fff; padding: 10px 30px; font-size: 1.13em;}
.help-block li, .text-danger li {font-size: 0.9em; color: #D82723; margin: 10px;}
form input, form textarea, form button {font-size: 1rem; font-family: none;}
form input:focus, form textarea:focus {outline: none;}
.control-group .form-group:focus-within  {border-bottom: 1px solid #1f296f;}

.alert-success {position: absolute;}
.alert-success .close {cursor: pointer; border: 0 none; background: none; font-size: 1.13em;}