/* 환경안전문화 */


#content h4 {font-size: 1.88em; font-weight: 700; margin: 100px 0;}
#content .content_area > p:nth-of-type(1) {margin: 0 auto; font-size: 1.13em; text-align: center;}

.hex {width: 1200px; height: 480px;}
.hex ul {width: 750px; margin: 0 auto; position: relative;}
.hex li {width: 240px; height: 240px; background: linear-gradient(300deg, #1f296f, #2d3ca3);
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: rotate(90deg); position: absolute;}
.hex li:nth-of-type(1){left: 0; top: 0;}
.hex li:nth-of-type(2){left: 250px; top: 0;}
.hex li:nth-of-type(3){left: 500px; top: 0;}
.hex li:nth-of-type(4){left: -125px; top: 187px;}
.hex li:nth-of-type(5){left: 125px; top: 187px;}
.hex li:nth-of-type(6){left: 375px; top: 187px;}
.hex li:nth-of-type(7){left: 625px; top: 187px;}
.hex li span {display: block; width: 160px; height: 100px; transform: rotate(-90deg); 
    color: #fff; font-size: 1.25em; text-align: center;
    position: relative; top: 70px; left: 50px;}

#content .esg_conduct {width: 2000px; position: relative; left: 50%; top: 0; margin: 100px 0 100px -1000px; background-color: #f7f7f7; overflow: hidden;}
#content .conducts {width: 1200px; margin: 0 auto 100px;}
#content .conducts li {transition: all .5s; height: 200px; display: flex; border-bottom: 1px solid #d9d9d9;}
#content .conducts dl { padding-top: 80px; }
#content .conducts dt {width: 330px; float: left; margin-left: 50px; position: relative; line-height: 70px; font-size: 1.25em; font-weight: 700;}
#content .conducts span {position: absolute; top: -30px; left: -50px; font-family: 'Lato'; font-size: 1.5rem; font-weight: 500; color: #348bcd;}
#content .conducts dd {width: 575px; float: right; font-size: 1.13em; text-align: justify;}
#content .conducts .img_inner {transition: all .5s;  width: 600px; height: 100px; overflow: hidden; position: absolute; right: 0;}
#content .conducts img {transform: scale(.8); filter: grayscale(1);}
#content .conducts li:hover {height: 325px;}
#content .conducts li:hover .img_inner {height: 325px;}
#content .conducts li:hover img {filter: grayscale(0);}