/* 연혁 내용 영역 */

#content .tabs {width: 1200px; margin: 100px auto 180px;}
#content .tabs.navOn {position: fixed; top: 0; margin: 0; background: #fff;}
#content .tabs li {float: left; width: 25%; text-align: center;}
#content .tabs li a {height: 70px; line-height: 70px; font-size: 1.13em; color: #666; border: 1px solid #ccc; border-left-width: 0;}
#content .tabs li:nth-of-type(1) a {border-left-width: 1px;}
#content .tabs li a:hover {background: #f7f7f7; color: #1f296f;}

#content .tabs ul::after {content: ''; display: block; clear: both;}

#content section {display: flex;}
#content section:nth-of-type(4) {margin-bottom: 180px;}
#content section .img_area { flex: 1 1 0;}
#content section .img_area h3 {font-size: 3em; margin-left: 160px;}
#content section .img_area h3.textFixed {position: fixed; top: 82px;}
#content section .text_area { flex: 1 1 0;}
#content section .text_area dl {display: flex; padding: 40px; align-items: center;}
#content section .text_area dl:nth-of-type(even) {background: #f9f9f9;}
#content section .text_area dt { flex: 1 1 0; font-family: 'Lato'; font-size: 1.5em; color: #1f296f;}
#content section .text_area span {font-size: 1.13rem; color: #666; margin-left: 15px;}
#content section .text_area dd { flex: 3 1 0; font-size: 1.25em; }

#content #history1 .img_area { background-image: url(../images/content4/history_01.jpg); background-position: center bottom;}

#content #history2 .img_area { background-image: url(../images/content4/history_02.jpg); order: 2; background-position: center;}

#content #history3 .img_area { background-image: url(../images/content4/history_03.jpg);}
#content #history3 .img_area h3 {color: #fff;}

#content #history4 .img_area { background-image: url(../images/content4/history_04.jpg); order: 2; background-position: right bottom; }
#content #history4 .img_area h3 {color: #fff;}

